{% extends "base.html" %}
{% block content %}
    <div class="container" style="background: grey; height: 100vh; color: whitesmoke">
        <br>
        <h2>AidaCash</h2>
        <hr>
        <div class="col-lg-8">
            Crypto adoption by charities is currently zero, with only a few charities accepting bitcoin. On the other
            hand,
            public trust in charities has fallen to its lowest level since 2005, with more than half of the general
            public
            skeptical about donating to charities.

            Our goal is to solve those problems and help charities to raise more money. Using distributed ledgers to
            track
            transactions, cryptocurrencies to transfer funds and smart contracts to ensure donations are spent
            correctly,
            Blockchain has the potential to impact the whole non-profit sector.
        </div>
        <hr>
        <img src="/static/images/aida.png" style="width: 70%">
    </div>
{% endblock %}
